<head>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Put our head data / resources here -->
     <title><%= title %></title>
    <link href="<%= styleSheet %>" rel="stylesheet"  type="text/css">
    <link rel="icon" type="image/x-icon" href="racing-car.png">
</head>
<header>
    <div class="page-title">
        <%= title %>
    </div>
</header>