<nav class="navBar">
    Navigation Links
    <ul>
        <li>
            <a href="./home">
                Home
            </a>
        </li>
        <li>
            <a href="./team-form">
                Favorite F1 Team
            </a>
        </li>
    </ul>
</nav>